<!--
  Vibemilk shared <head> contents reference
  Each page must include these CSS/JS references with correct relative paths.

  For pages in root (index.html):
    <link rel="stylesheet" href="css/vibemilk-core.css">
    <link rel="stylesheet" href="css/docs.css">
    <link rel="stylesheet" href="css/showcase.css">
    <script src="js/vibemilk-docs.js" defer></script>

  For pages in pages/ directory:
    <link rel="stylesheet" href="../css/vibemilk-core.css">
    <link rel="stylesheet" href="../css/docs.css">
    <link rel="stylesheet" href="../css/showcase.css">
    <script src="../js/vibemilk-docs.js" defer></script>
-->
